/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Timesnewroman';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  align-items: center;
  margin: 400px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  border-bottom: 2px dashed #C0C0C0;
  padding: 24px 0;
}
@media (max-width: 500px) {
  .nav-container {
    padding-bottom: 10px;
  }
}
.nav {
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .nav .nav-logo {
    font-size: 2.8rem;
    margin-bottom: 15px;
  }
}
.nav-link {
  font-size: 1.6rem;
  padding-right: 29px;
}
@media (max-width: 500px) {
  .nav-link {
    padding: 0;
  }
}
.header-img {
  padding-bottom: 19px;
}
@media (max-width: 500px) {
  .header-img {
    margin: 0;
  }
}
header p {
  border-bottom: 2px dashed #C0C0C0;
  padding-bottom: 20px;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}
.btn {
  border: none;
  font-size: 1.6rem;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 50%;
}
.top,
.welcome {
  border-bottom: 1px dashed black;
  width: 100%;
}
.welcome {
  margin: 2% 0;
}
.nav-flex-container {
  padding-bottom: 80px;
  padding-top: 110px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
  color: #5353c7;
}
.middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.middle .middle-right {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}
.grid {
  display: flex;
  max-width: 75px;
  padding-right: 1% ;
  padding-left: 1% ;
  margin-top: 10%;
  margin-bottom: 15%;
  justify-content: space-between;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  font-size: 25px;
  text-align: center;
  align-items: center;
}
h2 {
  align-items: baseline;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 50%;
  text-align: center;
}
footer {
  padding-bottom: 80px;
  padding-top: 110px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
}
.dropbtn {
  display: none;
}
@media (max-width: 500px) {
  * {
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .desktop-container:hover .nav-flex-container {
    display: block;
  }
  .desktop-container:hover .dropbtn {
    background-color: #3e8e41;
  }
  .dropbtn {
    display: grid;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    display: inline-block;
  }
  .nav-flex-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 110px;
    text-align: right;
    align-items: unset;
    padding: 2em;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
a {
  text-decoration: none;
  color: #5353c7;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
}
