// Follow the order in the readme
@import 'variables.less';
@import 'mixins.less';
@import 'reset.less';
@import 'global.less';
@import 'navigation.less';
@import 'footer.less';
@import 'home-page.less';
body{
  background: red;
}
.nav-flex-container{ 
    display:flex;
    padding-bottom: 80px;
    padding-top: 110px;
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    color: rgb(83, 83, 199);

    

}

.middle{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 20px;


  .middle-right{
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
  }
}

.grid{
  display: flex;
  max-width: 75px;
  padding-right:1% ;
  padding-left:1% ;
  margin-top: 10%;
  margin-bottom: 15%;
  justify-content:space-between ;
}

p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3{
  font-size: 25px;
  text-align: center;
  align-items: center;
}
h2{
    
    align-items: baseline;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 50%;
    text-align: center;
}

footer{
  display:flex;
  padding-bottom: 80px;
  padding-top: 50px;
  display:flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
}







//mobile//
.dropbtn{
    display: none;

}
@media(max-width: 500px) {
    *{
        text-align: center;
    }
    .dropdown-content a:hover {background-color: #ddd;}

    .desktop-container:hover .nav-flex-container {display: block;}

    .desktop-container:hover .dropbtn {background-color: #3e8e41;}

    .desktop-container{
        
      }
      .dropbtn {
        display: grid;
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        position: relative;
        display: inline-block;
      }


      
    .nav-flex-container{
      display: flex;
      flex-direction: column;
      padding-bottom: 80px;
      padding-top: 110px;
      text-align: right;
      align-items: unset;
      padding: 2em;

      display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    

  }


a{
    text-decoration: none;
    color: rgb(83, 83, 199);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
}
